@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white text-zinc-900
         dark:bg-zinc-950 dark:text-zinc-100
         antialiased;
        font-family: "Montserrat", sans-serif;
}

